.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cen {
    text-align: center;
    height: 350px;
    width: 300px;
    background-color: rgb(202, 243, 229);
    border-radius: 20px;
    margin-top: 10%;
}

input:focus {
    outline: none;
}

#nav {
    background: linear-gradient(red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 1000;


}